body{
    text-align: center;
}

.suitcase {
    cursor: pointer;
    border: 1px solid lightgray;
    margin: 1%;
    padding: 30px 5px 5px 5px ;
    width: 130px;
    height: 85px;
    border-radius: 5%;
    float:left;
    /* background-image: url('./suitcase.png'); */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.value-reveal{
    background: burlywood;
}
.value-hidden{
    animation-name: fade-in;
    animation-duration: 5s;
    background: green;
    color:white;
}
.game-area{
    margin-left: 8%;
    margin-right: 2%;
    padding: 0;
}
.offer{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.offer h4{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prize{
    border: 1px solid lightgray;
    margin-left: 0;
    margin-right: 0.4%;
    margin-top: 0%;
    margin-bottom: 0.5%;
    padding: 15px 5px 5px 5px ;
    width: 70px;
    height: 50px;
    border-radius: 5%;
    float:left;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prize h4{
    font-size: 15px;
}

.prize-removed{
    background: gray;
}
.prize-available{
    background: green;
}
.prize-area{
    margin-left: 9.5%;
    margin-right: 5%;
    padding: 0;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 100}
}
.black-background{
    background-color: green;
}